allennlp==0.9.0
dyNET==2.1
editdistance==0.5.3
en-core-web-sm==2.2.5
Flask==1.1.1
Flask-Cors==3.0.8
jsonlines==1.2.0
numpy==1.18.1
regex==2020.2.20
scipy==1.4.1
seaborn==0.10.0
sentencepiece==0.1.85
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
spacy==2.2.4
torch==1.4.0
tqdm==4.43.0
transformers==2.6.0